@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

// @font-face {
//     font-family: 'Archivo';
//     font-style: normal;
//     font-weight: 700;
//     font-stretch: 100%;
//     font-display: swap;
//     src: url('../fonts/archivo/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTT0zRZ9xdp.woff2') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

// @font-face {
//     font-family: 'Archivo';
//     font-style: normal;
//     font-weight: 600;
//     font-stretch: 100%;
//     font-display: swap;
//     src: url('../fonts/archivo/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTT6jRZ9xdp.woff2') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

// @font-face {
//     font-family: 'Archivo';
//     font-style: normal;
//     font-weight: 500;
//     font-stretch: 100%;
//     font-display: swap;
//     src: url('../fonts/archivo/k3k6o8UDI-1M0wlSV9XAw6lQkqWY8Q82sJaRE-NWIDdgffTTBjNZ9xdp.woff2') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

// @font-face {
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

// @font-face {
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 500;
//     font-display: swap;
//     src: url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hiA.woff2') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

// @font-face {
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 600;
//     font-display: swap;
//     src: url('../fonts/inter/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hiA.woff2') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
// }

input,
select,
textarea,
button {
    font-family: inherit;
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-display: swap;
    color: var(--color-white);
    margin: 0;
}

picture {
    display: flex;
    align-items: center;
}

p,
a,
span,
li,
input,
textarea,
button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-display: swap;
    color: var(--color-white);
    margin: 0;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: hsl(225, 30%, 20%);
}

html::-webkit-scrollbar-thumb {
    background: hsl(200, 15%, 40%);
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

picture {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container {
    margin: 0 auto;
    padding: 0 10px;

    &.navbar {
        max-width: 1420px;
    }

    &.main {
        max-width: 1320px;
    }
}

.button {
    display: flex;
    padding: 8px 19px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.25;

    &.primary {
        border-radius: 7px;
        border-top: 0.5px solid hsl(209, 100%, 57%);
        background: linear-gradient(180deg, rgb(0, 111, 214) 0%, rgb(0, 111, 214) 40%, rgb(0, 103, 199), rgb(0, 80, 209) 100%);
        transition: all 0.2s ease-in-out;

        &:hover {
            box-shadow:
                0 0 5px hsla(209, 100%, 57%, 0.2),
                0 0 10px hsla(213, 76%, 47%, 0.2),
                0 0 15px hsla(213, 84%, 39%, 0.1),
                0 0 20px hsla(213, 87%, 32%, 0.1);
        }
    }

    &.secondary {
        border-radius: 7px;
        border-top: 0.5px solid hsl(216, 25%, 67%);
        background: linear-gradient(180deg, rgb(102, 118, 140) 0%, rgb(102, 118, 140) 40%, rgb(87, 104, 127) 60%, rgb(71, 86, 107) 100%);
        transition: all 0.2s ease-in-out;

        &:hover {
            box-shadow:
                0 0 5px hsla(220, 21%, 85%, 0.1),
                0 0 10px hsla(220, 21%, 80%, 0.1),
                0 0 15px hsla(220, 21%, 75%, 0.1),
                0 0 20px hsla(220, 21%, 70%, 0.1);
        }
    }

    &.tertiary {
        color: hsl(0, 0%, 90%);
        font-weight: 500;
        display: flex;
        padding: 0;
        gap: 10px;
        align-items: center;
        transition: color 0.2s ease-in-out;

        .arrow {
            position: relative;
            transition: left 0.2s ease-in-out;
            left: 1px;
        }

        &:hover {
            color: hsl(0, 0%, 100%);

            .arrow {
                left: 5px;
            }
        }
    }
}

a {
    text-decoration: none;
}

.darken {
    color: hsla(205, 100%, 98%, 0.45);
}

.highlight {
    color: hsl(209, 100%, 55%);
    font-weight: 700;
    font-family: inherit;
}

@keyframes fadeup {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translate(-200px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translate(200px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}
