body {
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    color: var(--color-white);
    margin: 0;
}

p,
a,
span,
li,
input,
textarea,
button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--color-white);
    margin: 0;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background-color: hsl(225, 30%, 20%);
}

html::-webkit-scrollbar-thumb {
    background: hsl(200, 15%, 40%);
}

.container {
    margin: 0 auto;
    padding: 0 10px;

    &.navbar {
        max-width: 1420px;
    }

    &.main {
        max-width: 1320px;
    }
}

.button {
    display: flex;
    padding: 13px 35px;
    gap: 10px;
    align-items: center;
    cursor: pointer;

    &.primary {
        background-color: var(--color-primary);
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: var(--color-primary-dark);
        }
    }

    &.secondary {
        color: var(--color-primary);
        border: 1.5px solid var(--color-primary);
        transition: background-color 0.2s ease-in-out;
        background-color: hsla(209, 100%, 55%, 0.05);

        &:hover {
            background-color: hsla(209, 100%, 55%, 0.18);
        }
    }

    &.tertiary {
        color: hsl(0, 0%, 90%);
        font-weight: 500;
        display: flex;
        padding: 0;
        gap: 10px;
        align-items: center;
        transition: color 0.2s ease-in-out;

        .arrow {
            position: relative;
            transition: left 0.2s ease-in-out;
            left: 1px;
        }

        &:hover {
            color: hsl(0, 0%, 100%);

            .arrow {
                left: 5px;
            }
        }
    }
}

a {
    text-decoration: none;
}

.darken {
    color: rgba(243, 250, 255, 0.45);
}

.highlight {
    color: rgba(26, 145, 255, 1);
    font-weight: 700;
}

@keyframes fadeup {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translate(-200px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translate(200px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

@media screen and (max-width: 500px) {
    .buttons {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .button {
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}
