:root {
    --color-primary: hsl(209, 100%, 42%);
    --color-primary-dark: hsl(209, 100%, 32%);
    --color-primary-light: hsl(209, 100%, 52%);
    --color-white: hsl(0, 0%, 98%);
    --bg-color: hsl(225, 71%, 7%);
}
