:root {
    --color-primary: hsl(209, 100%, 42%);
    --color-primary-dark: hsl(209, 100%, 35%);
    --color-primary-light: hsl(209, 100%, 52%);
    --color-white: hsl(0, 0%, 98%);
    --bg-color: hsl(225, 71%, 7%);
    --bg-card-color: hsl(226, 61%, 12%);
    --bg-modal-gradient: linear-gradient(0deg,hsl(212, 95%, 12%),hsl(212, 65%, 12%)),hsl(212, 80%, 12%);
    --icon-white: hsl(0, 0%, 98%);
}
