@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-display: 'Archivo Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: 'Fira Code Variable', ui-monospace, monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-primary: oklch(0.65 0.1907 252.91);
  --bg-primary: oklch(0.12 0.0421 264.82);
  --color-secondary: oklch(0.12 0.0421 264.82);
}

body {
  background-color: var(--bg-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

a,
button {
  transition: opacity 0.1s ease-in-out;

  &:hover {
    @apply opacity-80;
  }

  &:active {
    @apply opacity-70;
  }
}

/* Custom utilities */
@layer utilities {
  .bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
  }
}
