---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'

import Logomark from '../public/logomark.svg'
---

<div>
    <Image src={Logomark} alt="Atlas logomark" />
    <div class="links">
        <a href="https://forum.atlasos.net" target="_blank" rel="noreferrer noopener">Forums</a>
        <a href="https://docs.atlasos.net" target="_blank" rel="noreferrer noopener">Documentation</a>
        <a href="https://www.patreon.com/atlasos" target="_blank" rel="noreferrer noopener">Support us</a>
    </div>
    <div class="social-links">
        <Icon name="github-logo" height="26" class="icon" />
        <Icon name="discord-logo" height="26" class="icon" />
        <Icon name="x-logo" height="26" class="icon" />
    </div>
</div>

<style>
    .icon {
        fill: rgba(0, 0, 0, 0.4);
    }
</style>
