---
import MainLayout from '../layouts/main-layout.astro'
import Hero from '../components/Hero.astro'
import WindowsComparison from '../components/WindowsComparison.astro'
import UpgradeComparison from '../components/UpgradeComparison.astro'
import TrustPilotSection from '../components/TrustPilotSection.astro'
import OpenSourceSection from '../components/OpenSourceSection.astro'
import LinusVideo from '../components/LinusVideo.astro'
import CTA from '../components/CTA.astro'
---

<MainLayout title="Atlas: An optimized modification of Windows, designed for gamers." description="Bring life back to Windows. We designed Atlas to maximize performance and minimize latency. Experience higher framerates over standard, slow Windows.">
    <Hero />
    <div class="container main">
        <UpgradeComparison />
        <WindowsComparison />
        <TrustPilotSection />
        <OpenSourceSection />
        <LinusVideo />
    </div>
    <CTA />
</MainLayout>
