---
import MainLayout from '../layouts/main-layout.astro'
import Hero from '../components/Hero.astro'
import WindowsComparison from '../components/WindowsComparison.astro'
import UpgradeComparison from '../components/UpgradeComparison.astro'
import TrustPilotSection from '../components/TrustPilotSection.astro'
import OpenSourceSection from '../components/OpenSourceSection.astro'
import LinusVideo from '../components/LinusVideo.astro'
import CTA from '../components/CTA.astro'
---

<MainLayout
    title="An optimized version of Windows, designed for gamers."
    description="Windows is slow, clunky and unreliable. Atlas brings life back to your Windows system, designed to maximize performance and minimize latency. You will experience a smoother and more responsive Windows, and higher framerates over using standard Windows."
>
    <Hero />
    <div class="container main">
        <UpgradeComparison />
        <WindowsComparison />
        <TrustPilotSection />
        <OpenSourceSection />
        <LinusVideo />
    </div>
    <CTA />
</MainLayout>
