---
import ExternalLink from './ExternalLink.astro'

interface Props {
    links: {
        github: string
        discord: string
    }
}

const { links } = Astro.props
---

<div class="footer-radial">
    <div class="container main">
        <div class="community-section">
            <h3>Join our community of 42,000+</h3>
            <p>Join our community of passionate tech enthusiasts to connect with like-minded individuals and seek advice from experts.</p>
            <div class="buttons">
                <ExternalLink className="button primary" href={links.discord} aria-label="Open Discord community" children="Join our community ->" />
                <a class="button tertiary" href={links.github} target="_blank" rel="noreferrer noopener" aria-label="Open our GitHub page">Star us on GitHub <span class="arrow">--></span></a>
            </div>
        </div>
    </div>
</div>

<style lang="scss">
    .footer-radial {
        background: radial-gradient(70.81% 168.07% at 49.97% 178.07%, rgba(0, 78, 150, 0.3) 0%, rgba(2, 24, 45, 0) 100%);
    }

    .community-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-top: 250px;
        padding-bottom: 190px;
        margin-top: 10px;

        p {
            text-align: center;
            margin-bottom: 10px;
            max-width: 630px;
        }

        h3 {
            font-size: 48px;
            font-weight: 600;
        }

        .buttons {
            display: flex;
            gap: 50px;
            animation: fadeup ease-out;
            animation-timeline: view();
            animation-range: entry 0% exit -1200%;
        }

        @media (max-width: 810px) {
            h3 {
                text-align: center;
            }
        }

        @media (max-width: 500px) {
            padding-top: 150px;
            padding-bottom: 150px;
            gap: 30px;

            h3 {
                font-size: 36px;
            }

            p {
                max-width: 90%;
            }

            .buttons {
                gap: 20px;
            }
        }
    }
</style>
