---
const { href = '#', style = 'a', ariaLabel = 'External Link', children } = Astro.props

interface Props {
    href?: string
    style?: string
    ariaLabel?: string
    children: any
}
---

<a class={style} href={href} aria-label={ariaLabel} target="_blank" rel="noreferrer noopener">
    {children}
</a>
