---
import { Picture } from 'astro:assets'

import PlayButton from '../assets/img/play-button.svg'

interface Props {
    links: {
        linusvideo: string
    }
}

const { links } = Astro.props
---

<div class="linus-section">
    <div class="heading">
        <h3><span class="darken">“</span>If you can run Windows with <span class="highlight">this kind of performance</span>... Jeepers Creepers.<span class="darken">”</span></h3>
        <p>— Linus Sebastian</p>
    </div>
    <a href={links.linusvideo} target="_blank" rel="noreferrer noopener" aria-label="Watch what Linus said about Atlas OS" class="linus-video">
        <div class="preview-image">
            <div class="circle">
                <Picture loading="lazy" src={PlayButton} alt="Video play button" />
            </div>
        </div>
    </a>
    <div class="linus-linear-section"></div>
</div>

<style>
    .linus-section {
        margin-top: 300px;

        .preview-image {
            background-image: url('/linus-thumbnail.webp');
            background-size: cover;
            background-position: center;
            height: 546px;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            border-radius: 14px 14px 0px 0px;
            z-index: -1;
        }

        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: hsla(0, 0%, 0%, 0.3);
            font-size: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 40px;
                height: 40px;
                margin-left: 8px;
                border-radius: 5px;
            }
        }

        .linus-linear-section {
            margin-top: -130px;
            height: 150px;
            width: 100%;
            background: linear-gradient(180deg, transparent 0%, rgba(5, 12, 31, 0.9) 75%, rgb(5, 12, 31) 85%, rgb(5, 12, 31) 100%);
        }

        .heading {
            text-align: center;
            margin-bottom: 100px;
            word-break: keep-all;

            h3 {
                font-style: italic;
                font-size: 64px;
            }

            p {
                font-size: 24px;
                margin-top: 40px;
                color: hsla(205, 100%, 100%, 45%);
            }

            @media (max-width: 810px) {
                display: flex;
                align-items: center;
                text-align: center;
                flex-direction: column;
                gap: 10px;

                p {
                    max-width: 90%;
                }
            }
        }

        @media (max-width: 500px) {
            margin-top: 150px;

            .preview-image {
                height: 250px;
            }

            .heading {
                h3 {
                    font-size: 36px;
                    max-width: 90%;
                }
            }
        }

        @media (max-width: 285px) {
            .heading {
                h3 {
                    font-size: 28px;
                }
            }
        }
    }
</style>
