---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'

import Logomark from '../../public/logomark.svg'
---

<div class="navbar-wrapper">
    <navbar class="navbar">
        <a href="/">
            <Image src={Logomark} alt="Atlas logomark" />
        </a>
        <div class="links">
            <a href="https://forum.atlasos.net" target="_blank">Forums</a>
            <a href="https://docs.atlasos.net" target="_blank">Documentation</a>
            <a href="https://docs.atlasos.net" target="_blank">FAQ</a>
            <a href="https://patreon.com/atlasos" target="_blank" rel="noreferrer noopener">Support us</a>
        </div>
        <div class="social-links">
            <a href="https://github.com/atlas-os/atlas" aria-label="Visit our GitHub repository" target="_blank" rel="noreferrer noopener">
                <Icon name="github-logo" height="26" class="icon" />
            </a>
            <a href="https://discord.com/servers/atlas-795710270000332800" aria-label="Join our Discord community" target="_blank" rel="noreferrer noopener">
                <Icon name="discord-logo" height="22" class="icon" />
            </a>
            <a href="https://x.com/atlasos" aria-label="Visit our X account, maybe follow?" target="_blank" rel="noreferrer noopener">
                <Icon name="x-logo" height="25" class="icon" />
            </a>
        </div>
    </navbar>
</div>

<style lang="scss">
    .navbar-wrapper {
        position: relative;
        z-index: 99;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0 25px;
        position: absolute;
        width: 100%;

        .links {
            display: flex;
            align-items: center;
            gap: 100px;

            a {
                color: hsla(0, 0%, 98%, 0.8);
                font-weight: 500;
                transition: color 0.2s ease-in-out;
            }

            a:hover {
                color: hsla(0, 0%, 98%, 1);
            }
        }

        .social-links {
            display: flex;
            align-items: center;
            gap: 30px;

            .icon {
                fill: hsla(0, 0%, 98%, 0.4);
                transition: fill 0.2s ease-in-out;
            }

            .icon:hover {
                fill: hsla(0, 0%, 98%, 0.8);
            }
        }
    }

    @media screen and (max-width: 900px) {
        .navbar {
            padding: 25px 0;

            .social-links {
                scale: 0.8;
            }

            .links {
                display: none;
            }
        }
    }
</style>
