---
import { Icon } from 'astro-icon/components'
---

<div class="upgrade-comparison">
    <div class="heading">
        <h2>
            <span class="darken">F**k Windows</span> Upgrade to <span class="highlight">Atlas</span>
        </h2>
        <p>
            Over time, Microsoft has made Windows sluggish, clunky and invasive. Atlas brings life back to Windows, designed to maximize privacy, usability, and performance. We make Windows more responsive and less annoying, with many users also
            claiming improved framerates, while being
            <a href="https://docs.atlasos.net/getting-started/post-installation/atlas-folder/general-configuration/" target="_blank">configurable and compatible.</a>
        </p>
    </div>
    <div class="cards">
        <div class="card dark">
            <div class="title">
                <Icon name="fire-line" class="icon" size={22} />
                <h3>Performance</h3>
            </div>
            <p>By removing unnecessary background processes, telemetry, optionally disabling power-saving features and more.</p>
        </div>
        <div class="card light">
            <div class="title">
                <Icon name="cursor-3-line" class="icon" size={22} />
                <h3>Usability</h3>
            </div>
            <p>By removing Windows' advertising, and fixing general annoyances, you will have a more enjoyable Windows experience.</p>
        </div>
        <div class="card dark">
            <div class="title">
                <Icon name="fingerprint-line" class="icon" size={22} />
                <h3>Privacy</h3>
            </div>
            <p>By eliminating most of Microsoft's notorious tracking, pre-installed apps, and bloatware, Atlas makes Windows private.</p>
        </div>
    </div>
</div>

<style>
    .upgrade-comparison {
        .heading {
            display: flex;
            align-items: flex-end;
            gap: 100px;

            h2 {
                max-width: 465px;
                font-size: 60px;
                font-weight: 600;
                opacity: 0;
                transform: translateY(30px);
            }

            span {
                font-weight: 600;
            }

            p {
                max-width: 544px;
                opacity: 0;
                transform: translateY(30px);
            }

            a {
                color: hsla(205, 100%, 98%, 0.8);
                text-decoration: underline;
            }

            @media (max-width: 1080px) {
                align-items: center;
                gap: 30px;
            }

            @media (max-width: 810px) {
                align-items: center;
                text-align: center;
                flex-direction: column;
                gap: 50px;

                p {
                    max-width: 90%;
                }
            }
        }

        .cards {
            display: flex;
            gap: 35px;
            margin-top: 75px;

            .card {
                padding: 40px 50px;
                border-radius: 5px;
                opacity: 0;
                transform: translateY(30px) scale(0.95);

                p {
                    font-size: 14px;
                    opacity: 1;
                }

                .title {
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    gap: 10px;
                    margin-bottom: 20px;
                    opacity: 1;

                    h3 {
                        opacity: 1;
                        color: hsl(0, 0%, 100%);
                    }

                    .icon {
                        stroke-width: 1.5;
                        width: 24px;
                        height: 24px;
                        color: var(--icon-white);
                        opacity: 1;
                    }
                }

                &.dark {
                    background: linear-gradient(180deg, rgb(12, 22, 51) 0%, rgb(45, 90, 206) 100%);
                    border: 1px solid hsl(223, 64%, 47%);
                }

                &.light {
                    background: linear-gradient(180deg, rgb(12, 22, 51) 0%, rgb(111, 140, 216) 100%);
                    border: 1px solid hsl(223, 57%, 64%);
                }
            }

            @media (max-width: 810px) {
                margin-top: 50px;
                flex-direction: column;
            }
        }

        @media (max-width: 500px) {
            margin-top: 50px;

            .heading {
                gap: 30px;

                h2 {
                    font-size: 36px;
                    max-width: 90%;
                }
            }
        }
    }
</style>
