---
import { Icon } from 'astro-icon/components'
---

<div class="upgrade-comparison">
    <div class="heading">
        <h2>
            <span class="darken">F**k Windows</span> Upgrade to <span class="highlight">Atlas</span>
        </h2>
        <p>
            Over time, Microsoft has made Windows sluggish, clunky and invasive. Atlas brings life back to Windows, designed to maximize privacy, usability, and performance. We make Windows more responsive and less annoying, with many users also claiming
            improved framerates, while maintaining
            <a href="https://docs.atlasos.net/getting-started/post-installation/atlas-folder/general-configuration/" target="_blank">configurability and compatibility.</a>
        </p>
    </div>
    <div class="cards">
        <div class="card dark">
            <div class="title">
                <Icon name="fire-icon" class="icon" size={22} />
                <h3>Performance</h3>
            </div>
            <p>By removing unnecessary background processes, optionally disabling power-saving features, removing telemetry and more.</p>
        </div>
        <div class="card light">
            <div class="title">
                <Icon name="heart-icon" class="icon" size={22} />
                <h3>Usability</h3>
            </div>
            <p>By removing Windows' advertising, nags, and changing annoying defaults, you will have a more enjoyable Windows experience.</p>
        </div>
        <div class="card dark">
            <div class="title">
                <Icon name="fingerprint-icon" class="icon" size={22} />
                <h3>Privacy</h3>
            </div>
            <p>By eliminating most of Microsoft's notorious tracking, pre-installed apps, and bloatware, you can feel privacy conscious using Atlas.</p>
        </div>
    </div>
</div>

<style lang="scss">
    .upgrade-comparison {
        .heading {
            display: flex;
            align-items: flex-end;
            gap: 100px;

            h2 {
                max-width: 465px;
                font-size: 60px;
                font-weight: 600;
            }

            span {
                font-weight: 600;
            }

            P {
                max-width: 544px;
            }

            a {
                color: hsla(205, 100%, 98%, 0.8);
                text-decoration: underline;
            }

            @media (max-width: 1080px) {
                align-items: center;
                gap: 30px;
            }

            @media (max-width: 810px) {
                align-items: center;
                text-align: center;
                flex-direction: column;
                gap: 50px;

                p {
                    max-width: 90%;
                }
            }
        }

        .cards {
            display: flex;
            gap: 35px;
            margin-top: 75px;

            animation: fadeup ease-out;
            animation-timeline: view();
            animation-range: entry 0% exit -100%;

            @media (max-width: 810px) {
                margin-top: 50px;
                flex-direction: column;
            }

            .dark {
                background: linear-gradient(180deg, rgb(12, 22, 51) 0%, rgb(45, 90, 206) 100%);
                border: 1px solid hsl(223, 64%, 47%);
                transition: scale 0.2s ease-in;
            }

            .light {
                background: linear-gradient(180deg, rgb(12, 22, 51) 0%, rgb(111, 140, 216) 100%);
                border: 1px solid hsl(223, 57%, 64%);
                transition: scale 0.2s ease-in;
            }

            .card {
                padding: 40px 50px;
                border-radius: 5px;

                p {
                    font-size: 14px;
                }

                .title {
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    gap: 10px;
                    margin-bottom: 20px;

                    .icon {
                        stroke: var(--icon-white);
                        fill: transparent;
                    }

                    h3 {
                        font-family: 'Inter', sans-serif;
                        font-weight: 600;
                        font-size: 24px;
                    }

                    img {
                        width: 26px;
                        height: 20px;
                    }

                    .fire {
                        width: 24px;
                        height: 22px;
                    }

                    .latency {
                        width: 26px;
                        height: 20px;
                    }

                    .fingerprint {
                        width: 24px;
                        height: 20px;
                    }
                }
            }
        }
        @media (max-width: 500px) {
            margin-top: 50px;

            .heading {
                gap: 30px;

                h2 {
                    font-size: 36px;
                    max-width: 90%;
                }
            }
        }
    }
</style>
