---
import { Icon } from 'astro-icon/components'
import { Picture } from 'astro:assets'
import ExternalLink from './ExternalLink.astro'

import Splitter from '../assets/img/splitter.svg'
---

<div class="windows-comparison">
    <div class="heading">
        <h2>
            <span class="highlight">Atlas</span> vs. <span class="darken">Stock Windows</span>
        </h2>
        <p>With reduced resource utilization, improved privacy, usability, and performance, why wouldn't you consider making the switch?</p>
    </div>
    <div class="cards hide">
        <div class="card">
            <div class="content-wrapper">
                <div class="card-title">
                    <Icon name="chip-line" class="icon" size={26} />
                    <h3>CPU Usage</h3>
                </div>
                <p>We've reduced background CPU spikes significantly. Nothing that you don't need will run in the background.</p>
                <span>2-10% <Icon name="arrow-right-line" size={16} /> 0%</span>
            </div>
        </div>
        <Picture src={Splitter} class="splitter" loading="lazy" alt="Section splitter" />
        <div class="card">
            <div class="content-wrapper">
                <div class="card-title">
                    <Icon name="dashboard-line" class="icon" size={30} />
                    <h3>RAM Usage</h3>
                </div>
                <p>Thanks to Atlas we've seen ~1.5GB of RAM usage freed on boot, which can then be allocated to other tasks.</p>
                <span>2.9GB <Icon name="arrow-right-line" size={16} /> ~1.4GB</span>
            </div>
        </div>
        <Picture src={Splitter} class="splitter" loading="lazy" alt="Section splitter" />
        <div class="card">
            <div class="content-wrapper">
                <div class="card-title">
                    <Icon name="rocket-line" class="icon" size={26} />
                    <h3>0.1% FPS</h3>
                </div>
                <p>In a VALORANT benchmark, we saw a significant improvement in FPS lows. Boasting a stable, higher framerate.</p>
                <span>217.5 FPS <Icon name="arrow-right-line" size={16} /> 365.91 FPS</span>
            </div>
        </div>
    </div>
    <div class="benchmark-link">
        <ExternalLink href="https://github.com/Atlas-OS/Atlas/discussions/1161" className="button tertiary" ariaLabel="Open detailed benchmarks on Atlas" children="View detailed benchmarks" />
    </div>
</div>

<style>
    .windows-comparison {
        margin-top: 300px;
        margin-bottom: 300px;

        .benchmark-link {
            text-align: center;
            display: flex;
            margin: 50px auto;
            align-items: center;
            justify-content: center;

            :global(.external-link) {
                text-decoration: none;
            }
        }

        .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            p {
                max-width: 544px;
                margin-top: 30px;
            }

            h2 {
                font-size: 60px;
                font-weight: 600;
            }

            span {
                font-weight: 600;
            }
        }

        .cards {
            display: flex;
            margin-top: 75px;
            background-color: var(--bg-card-color);
            border-radius: 5px;
            align-items: center;

            .splitter {
                width: 2px;
                height: 215px;
            }

            .card {
                display: flex;
                width: 33.3%;
                flex-direction: column;
                padding: 70px 60px;

                .content-wrapper {
                    display: flex;
                    gap: 35px;
                    flex-direction: column;
                    animation: fadeup ease-out;
                    animation-timeline: view();
                    animation-range: entry -80% exit -200%;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    .card-title {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        .icon {
                            stroke-width: 1.5;
                            width: 24px;
                            height: 24px;
                            color: var(--icon-white);
                        }

                        h3 {
                            font-size: 36px;
                            font-weight: 600;
                        }
                    }
                }

                span {
                    color: hsl(209, 100%, 55%);
                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }
    }

    @media screen and (max-width: 1080px) {
        .windows-comparison .cards .card .content-wrapper .card-title {
            h3 {
                font-size: 28px;
            }
        }
    }

    @media screen and (max-width: 810px) {
        .windows-comparison {
            p {
                max-width: 90%;
            }

            .cards {
                flex-direction: column;

                .splitter {
                    display: none;
                }

                .card {
                    width: 100%;
                    padding: 50px 50px;
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        .windows-comparison {
            margin-top: 150px;
            margin-bottom: 150px;

            .heading {
                h2 {
                    font-size: 36px;
                }

                p {
                    max-width: 90%;
                    margin-top: 20px;
                }
            }
        }
    }
</style>
