<div class="relative mx-auto my-32 h-px max-w-7xl bg-gradient-to-r from-transparent via-white/10 to-transparent">
  <div class="absolute top-0 left-1/2 h-px w-[30px] -translate-x-1/2 bg-white/70"></div>
</div>
