---
import HTMLHead from '../components/HTMLHead.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import '../assets/scss/reset.scss'
import '../assets/scss/variables.scss'
import '../assets/scss/main.scss'
import AnnounceBar from '../components/AnnounceBar.astro'

interface Props {
    title: string
    description: string
    links: {
        documentation: string
        forum: string
        discord: string
        github: string
        faq: string
        twitter: string
        trustpilot: string
        donate: string
    }
}

const { title, description, links } = Astro.props
---

<html lang="en">
    <head>
        <HTMLHead title={title} description={description} />
    </head>
    <body>
        <!-- <AnnounceBar /> -->
        <header class="container navbar">
            <Navbar links={links} />
        </header>
        <slot />
        <Footer links={links} />
    </body>
</html>
